<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Secret</title>
</head>
<body>
<h1>Very secret page!</h1>
<h2 th:text="'Username: ' + ${session.user?.username}"></h2>
<div>
    <a href="/logout">Logout</a>
</div>
<div>
    <h2>Savings account</h2>
    <div>
        <p>Balance:</p>
        <p th:text="${session.user?.savings}"></p>
    </div>
    <div>
        <h2>Transfer money</h2>
        <form action="/transfer" method="GET">
            <div><label> Amount : <input type="text" name="amount"/> </label></div>
            <div><label> To account: <input type="text" name="account"/> </label></div>
            <div><input type="submit" value="Transfer"/></div>
        </form>
    </div>

</div>

</body>
</html>